
# python cache
__pycache__/

# simulation results
temp/

# backup files
*.bak

# swmm files

*.inp
*.rpt
*.out
*.dat
*.ini

# excel files

*.xlsx

# TODO notes

notes.txt

# misc

simulation_scenarios *.json

